$mediaMediumWidth: 40em;
$mediaLargeWidth: 64em;

$gutter: 1.5rem;
$sectionsYMargin: $gutter;

$primaryColor: #373A41;
$secondaryColor: #3D414A;
$alertColor: #ffcc00;
$successColor: #4a4094;
$textLightColor: #f5f5f5;